body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	height: 2000px;
}

a.text-light:hover {
	color: orange!important;
}

.bg-transparent {
	background-color: rgba(0, 0, 0, .3)!important;
	transition: all .3s;
}

.header {
  background-image: url(http://bootstrapdevelop.com/tf/finnoplus//images/hiro/img_01.jpg);
  background-size: cover;
  background-position: center center;
}

/*Apper search*/
.bg-color {
	background-color: rgba(0, 32, 110, .9);
	z-index: 2;
}

.form-control {
	background-color: rgba(0, 32, 110, .7);
	height: 4.5rem;
	border: 2px solid white!important;
	border-left: 0px!important;
	border-right: 0px!important;
	border-width: medium;
	text-align: center;
	font-size: 30px;
}

.form-control:focus {
	background-color: rgba(0, 32, 110, .5);
	box-shadow: none;
}

.input-float {
  z-index: 3;
  right: 20%;
  top: 40%;
}

#remove-effect {
  z-index: 2;
}

/*Main  begin service*/

.overlay::after {
  content: "";
  background-color: #052164;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .95;
  top: 0;
  left: 0;
  z-index: 2;
}

.card-body, .card-img-top {
  z-index: 3;
}

.card {
  border: 0
}

.w-15 {
  width: 15%!important;
}

/*Main our service*/

.p-100-70 {
  padding-top: 7rem;
  padding-bottom: 5rem;
}

.customize {
  height: 5px;
  width: 5px;
  background-color: #00206e;
}

.customize::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 50px;
  background-color: #00206e;
  top: 1px;
  left: -55px;
}

.customize::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 50px;
  background-color: #00206e;
  top: 1px;
  right: -55px;
}

/*main our company*/

.block-width {
  max-width: 570px;
}

/*Apper menu-right*/

#menu-right {
	position: fixed!important;
	right: 0;
	height: 100%;
	width: 250px;
	animation-name: last;
	animation-duration: .3s;
	z-index: 2;
}

ul { 
	list-style: none;
}

i:hover {
	color: #333;
	cursor: pointer;
}

@keyframes last {
	from {
	  width: 0;
	}

	to {
	  width: 250px;
	}
}

/*Scroll*/
[data-scroll='dNone'] {
  display: none!important;
  transition: all .3s;
}

[data-scroll='dBg'] {
  background-color: rgba(0, 0, 0, 1)!important;
  transition: all .3s;
}

[data-scroll='dBg'] .navbar .navbar-brand img {
  height: 80%;
  width: 70%;
}

/*Media query*/
@media (max-width: 991px){
  .input-float {
    right: 3%!important;
  }

  .h1 {
    font-size: 40px!important;
  }

  .block-width {
    max-width: 760px!important;
  }

  .p-100-70 {
    padding-top: 5rem;
    padding-bottom: 3rem;
  }
}

@media (min-width: 991px) {
  .h1 {
    font-size: 80px!important;
  }
}

@media (min-width: 1200px) {
  .input-float {
    right: 20%!important;
  }
}

@media (max-width: 415px) {
  .input-float {
    right: 0%!important;
  }

  .h1 {
    font-size: 40px!important;
  }

  .h3 {
    font-size: 16px!important;
  }

  .h2 {
    font-size: 25px!important;
  }

  .block-width {
    max-width: 760px!important;
  }

  .p-100-70 {
    padding-top: 5rem;
    padding-bottom: 3rem;
  }
}